@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Oswald:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Typography Variables
 */
/**
 * Helper variables
 */
/**
 * Layout variables
 */
.row-mother-fucker {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.row-fluid-mother-fucker {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.pos-1 {
  order: 1;
}

.pos-2 {
  order: 2;
}

.pos-3 {
  order: 3;
}

.pos-4 {
  order: 4;
}

.pos-5 {
  order: 5;
}

.pos-6 {
  order: 6;
}

.pos-7 {
  order: 7;
}

.pos-8 {
  order: 8;
}

.pos-9 {
  order: 9;
}

.pos-10 {
  order: 10;
}

.pos-11 {
  order: 11;
}

.pos-12 {
  order: 12;
}

.xlg-ass-col-1 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-2 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-3 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-4 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-5 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-6 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-7 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-8 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-9 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-10 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-11 {
  width: 98%;
  padding: 0% 1%;
}

.xlg-ass-col-12 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-1 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-2 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-3 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-4 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-5 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-6 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-7 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-8 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-9 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-10 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-11 {
  width: 98%;
  padding: 0% 1%;
}

.lg-ass-col-12 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-1 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-2 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-3 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-4 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-5 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-6 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-7 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-8 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-9 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-10 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-11 {
  width: 98%;
  padding: 0% 1%;
}

.md-ass-col-12 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-1 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-2 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-3 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-4 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-5 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-6 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-7 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-8 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-9 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-10 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-11 {
  width: 98%;
  padding: 0% 1%;
}

.sm-ass-col-12 {
  width: 98%;
  padding: 0% 1%;
}

.tiny-ass-col-1 {
  width: 6.33%;
  padding: 0% 1%;
}
.tiny-ass-col-1.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-1.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-1.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-1.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-1.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-1.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-1.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-1.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-1.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-1.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-1.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-1.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-2 {
  width: 14.66%;
  padding: 0% 1%;
}
.tiny-ass-col-2.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-2.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-2.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-2.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-2.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-2.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-2.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-2.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-2.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-2.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-2.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-2.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-3 {
  width: 23%;
  padding: 0% 1%;
}
.tiny-ass-col-3.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-3.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-3.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-3.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-3.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-3.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-3.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-3.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-3.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-3.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-3.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-3.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-4 {
  width: 31.33%;
  padding: 0% 1%;
}
.tiny-ass-col-4.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-4.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-4.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-4.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-4.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-4.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-4.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-4.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-4.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-4.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-4.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-4.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-5 {
  width: 39.66%;
  padding: 0% 1%;
}
.tiny-ass-col-5.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-5.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-5.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-5.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-5.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-5.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-5.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-5.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-5.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-5.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-5.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-5.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-6 {
  width: 48%;
  padding: 0% 1%;
}
.tiny-ass-col-6.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-6.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-6.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-6.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-6.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-6.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-6.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-6.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-6.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-6.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-6.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-6.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-7 {
  width: 56.33%;
  padding: 0% 1%;
}
.tiny-ass-col-7.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-7.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-7.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-7.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-7.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-7.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-7.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-7.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-7.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-7.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-7.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-7.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-8 {
  width: 64.66%;
  padding: 0% 1%;
}
.tiny-ass-col-8.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-8.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-8.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-8.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-8.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-8.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-8.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-8.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-8.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-8.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-8.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-8.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-9 {
  width: 73%;
  padding: 0% 1%;
}
.tiny-ass-col-9.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-9.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-9.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-9.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-9.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-9.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-9.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-9.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-9.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-9.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-9.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-9.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-10 {
  width: 81.33%;
  padding: 0% 1%;
}
.tiny-ass-col-10.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-10.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-10.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-10.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-10.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-10.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-10.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-10.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-10.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-10.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-10.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-10.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-11 {
  width: 89.66%;
  padding: 0% 1%;
}
.tiny-ass-col-11.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-11.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-11.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-11.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-11.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-11.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-11.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-11.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-11.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-11.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-11.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-11.tiny-ass-pos-12 {
  order: 12;
}

.tiny-ass-col-12 {
  width: 98%;
  padding: 0% 1%;
}
.tiny-ass-col-12.tiny-ass-pos-1 {
  order: 1;
}
.tiny-ass-col-12.tiny-ass-pos-2 {
  order: 2;
}
.tiny-ass-col-12.tiny-ass-pos-3 {
  order: 3;
}
.tiny-ass-col-12.tiny-ass-pos-4 {
  order: 4;
}
.tiny-ass-col-12.tiny-ass-pos-5 {
  order: 5;
}
.tiny-ass-col-12.tiny-ass-pos-6 {
  order: 6;
}
.tiny-ass-col-12.tiny-ass-pos-7 {
  order: 7;
}
.tiny-ass-col-12.tiny-ass-pos-8 {
  order: 8;
}
.tiny-ass-col-12.tiny-ass-pos-9 {
  order: 9;
}
.tiny-ass-col-12.tiny-ass-pos-10 {
  order: 10;
}
.tiny-ass-col-12.tiny-ass-pos-11 {
  order: 11;
}
.tiny-ass-col-12.tiny-ass-pos-12 {
  order: 12;
}

@media only screen and (min-width: 480px) {
  .xlg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .xlg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .xlg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .xlg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .lg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .lg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .lg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .lg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .md-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .md-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .md-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .md-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .md-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .md-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .md-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .md-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .md-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .md-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .md-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .md-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .sm-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }
  .sm-ass-col-1.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-1.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-1.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-1.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-1.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-1.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-1.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-1.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-1.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-1.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-1.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-1.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }
  .sm-ass-col-2.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-2.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-2.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-2.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-2.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-2.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-2.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-2.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-2.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-2.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-2.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-2.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }
  .sm-ass-col-3.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-3.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-3.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-3.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-3.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-3.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-3.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-3.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-3.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-3.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-3.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-3.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }
  .sm-ass-col-4.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-4.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-4.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-4.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-4.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-4.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-4.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-4.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-4.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-4.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-4.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-4.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }
  .sm-ass-col-5.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-5.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-5.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-5.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-5.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-5.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-5.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-5.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-5.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-5.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-5.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-5.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }
  .sm-ass-col-6.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-6.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-6.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-6.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-6.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-6.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-6.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-6.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-6.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-6.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-6.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-6.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }
  .sm-ass-col-7.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-7.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-7.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-7.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-7.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-7.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-7.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-7.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-7.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-7.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-7.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-7.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }
  .sm-ass-col-8.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-8.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-8.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-8.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-8.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-8.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-8.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-8.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-8.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-8.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-8.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-8.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }
  .sm-ass-col-9.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-9.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-9.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-9.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-9.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-9.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-9.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-9.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-9.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-9.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-9.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-9.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }
  .sm-ass-col-10.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-10.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-10.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-10.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-10.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-10.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-10.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-10.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-10.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-10.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-10.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-10.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }
  .sm-ass-col-11.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-11.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-11.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-11.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-11.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-11.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-11.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-11.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-11.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-11.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-11.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-11.sm-ass-pos-12 {
    order: 12;
  }

  .sm-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }
  .sm-ass-col-12.sm-ass-pos-1 {
    order: 1;
  }
  .sm-ass-col-12.sm-ass-pos-2 {
    order: 2;
  }
  .sm-ass-col-12.sm-ass-pos-3 {
    order: 3;
  }
  .sm-ass-col-12.sm-ass-pos-4 {
    order: 4;
  }
  .sm-ass-col-12.sm-ass-pos-5 {
    order: 5;
  }
  .sm-ass-col-12.sm-ass-pos-6 {
    order: 6;
  }
  .sm-ass-col-12.sm-ass-pos-7 {
    order: 7;
  }
  .sm-ass-col-12.sm-ass-pos-8 {
    order: 8;
  }
  .sm-ass-col-12.sm-ass-pos-9 {
    order: 9;
  }
  .sm-ass-col-12.sm-ass-pos-10 {
    order: 10;
  }
  .sm-ass-col-12.sm-ass-pos-11 {
    order: 11;
  }
  .sm-ass-col-12.sm-ass-pos-12 {
    order: 12;
  }
}
@media only screen and (min-width: 768px) {
  .xlg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .xlg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .xlg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .xlg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .lg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .lg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .lg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .lg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .lg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .lg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .md-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }
  .md-ass-col-1.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-1.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-1.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-1.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-1.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-1.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-1.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-1.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-1.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-1.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-1.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-1.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }
  .md-ass-col-2.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-2.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-2.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-2.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-2.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-2.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-2.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-2.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-2.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-2.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-2.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-2.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }
  .md-ass-col-3.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-3.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-3.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-3.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-3.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-3.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-3.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-3.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-3.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-3.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-3.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-3.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }
  .md-ass-col-4.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-4.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-4.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-4.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-4.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-4.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-4.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-4.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-4.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-4.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-4.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-4.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }
  .md-ass-col-5.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-5.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-5.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-5.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-5.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-5.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-5.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-5.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-5.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-5.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-5.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-5.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }
  .md-ass-col-6.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-6.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-6.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-6.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-6.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-6.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-6.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-6.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-6.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-6.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-6.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-6.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }
  .md-ass-col-7.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-7.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-7.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-7.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-7.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-7.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-7.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-7.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-7.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-7.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-7.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-7.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }
  .md-ass-col-8.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-8.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-8.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-8.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-8.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-8.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-8.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-8.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-8.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-8.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-8.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-8.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }
  .md-ass-col-9.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-9.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-9.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-9.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-9.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-9.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-9.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-9.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-9.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-9.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-9.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-9.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }
  .md-ass-col-10.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-10.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-10.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-10.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-10.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-10.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-10.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-10.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-10.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-10.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-10.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-10.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }
  .md-ass-col-11.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-11.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-11.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-11.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-11.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-11.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-11.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-11.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-11.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-11.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-11.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-11.md-ass-pos-12 {
    order: 12;
  }

  .md-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }
  .md-ass-col-12.md-ass-pos-1 {
    order: 1;
  }
  .md-ass-col-12.md-ass-pos-2 {
    order: 2;
  }
  .md-ass-col-12.md-ass-pos-3 {
    order: 3;
  }
  .md-ass-col-12.md-ass-pos-4 {
    order: 4;
  }
  .md-ass-col-12.md-ass-pos-5 {
    order: 5;
  }
  .md-ass-col-12.md-ass-pos-6 {
    order: 6;
  }
  .md-ass-col-12.md-ass-pos-7 {
    order: 7;
  }
  .md-ass-col-12.md-ass-pos-8 {
    order: 8;
  }
  .md-ass-col-12.md-ass-pos-9 {
    order: 9;
  }
  .md-ass-col-12.md-ass-pos-10 {
    order: 10;
  }
  .md-ass-col-12.md-ass-pos-11 {
    order: 11;
  }
  .md-ass-col-12.md-ass-pos-12 {
    order: 12;
  }
}
@media only screen and (min-width: 992px) {
  .xlg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }

  .xlg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }

  .xlg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }

  .xlg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }

  .xlg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }

  .xlg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }

  .lg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }
  .lg-ass-col-1.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-1.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-1.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-1.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-1.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-1.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-1.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-1.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-1.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-1.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-1.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-1.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }
  .lg-ass-col-2.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-2.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-2.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-2.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-2.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-2.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-2.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-2.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-2.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-2.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-2.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-2.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }
  .lg-ass-col-3.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-3.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-3.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-3.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-3.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-3.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-3.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-3.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-3.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-3.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-3.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-3.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }
  .lg-ass-col-4.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-4.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-4.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-4.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-4.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-4.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-4.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-4.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-4.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-4.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-4.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-4.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }
  .lg-ass-col-5.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-5.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-5.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-5.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-5.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-5.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-5.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-5.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-5.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-5.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-5.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-5.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }
  .lg-ass-col-6.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-6.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-6.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-6.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-6.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-6.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-6.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-6.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-6.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-6.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-6.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-6.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }
  .lg-ass-col-7.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-7.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-7.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-7.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-7.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-7.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-7.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-7.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-7.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-7.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-7.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-7.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }
  .lg-ass-col-8.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-8.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-8.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-8.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-8.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-8.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-8.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-8.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-8.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-8.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-8.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-8.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }
  .lg-ass-col-9.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-9.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-9.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-9.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-9.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-9.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-9.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-9.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-9.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-9.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-9.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-9.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }
  .lg-ass-col-10.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-10.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-10.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-10.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-10.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-10.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-10.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-10.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-10.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-10.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-10.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-10.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }
  .lg-ass-col-11.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-11.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-11.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-11.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-11.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-11.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-11.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-11.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-11.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-11.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-11.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-11.lg-ass-pos-12 {
    order: 12;
  }

  .lg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }
  .lg-ass-col-12.lg-ass-pos-1 {
    order: 1;
  }
  .lg-ass-col-12.lg-ass-pos-2 {
    order: 2;
  }
  .lg-ass-col-12.lg-ass-pos-3 {
    order: 3;
  }
  .lg-ass-col-12.lg-ass-pos-4 {
    order: 4;
  }
  .lg-ass-col-12.lg-ass-pos-5 {
    order: 5;
  }
  .lg-ass-col-12.lg-ass-pos-6 {
    order: 6;
  }
  .lg-ass-col-12.lg-ass-pos-7 {
    order: 7;
  }
  .lg-ass-col-12.lg-ass-pos-8 {
    order: 8;
  }
  .lg-ass-col-12.lg-ass-pos-9 {
    order: 9;
  }
  .lg-ass-col-12.lg-ass-pos-10 {
    order: 10;
  }
  .lg-ass-col-12.lg-ass-pos-11 {
    order: 11;
  }
  .lg-ass-col-12.lg-ass-pos-12 {
    order: 12;
  }
}
@media only screen and (min-width: 1200px) {
  .xlg-ass-col-1 {
    width: 6.33%;
    padding: 0% 1%;
  }
  .xlg-ass-col-1.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-1.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-1.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-1.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-1.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-1.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-1.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-1.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-1.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-1.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-1.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-1.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-2 {
    width: 14.66%;
    padding: 0% 1%;
  }
  .xlg-ass-col-2.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-2.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-2.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-2.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-2.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-2.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-2.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-2.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-2.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-2.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-2.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-2.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-3 {
    width: 23%;
    padding: 0% 1%;
  }
  .xlg-ass-col-3.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-3.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-3.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-3.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-3.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-3.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-3.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-3.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-3.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-3.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-3.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-3.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-4 {
    width: 31.33%;
    padding: 0% 1%;
  }
  .xlg-ass-col-4.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-4.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-4.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-4.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-4.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-4.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-4.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-4.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-4.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-4.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-4.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-4.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-5 {
    width: 39.66%;
    padding: 0% 1%;
  }
  .xlg-ass-col-5.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-5.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-5.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-5.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-5.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-5.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-5.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-5.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-5.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-5.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-5.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-5.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-6 {
    width: 48%;
    padding: 0% 1%;
  }
  .xlg-ass-col-6.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-6.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-6.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-6.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-6.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-6.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-6.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-6.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-6.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-6.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-6.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-6.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-7 {
    width: 56.33%;
    padding: 0% 1%;
  }
  .xlg-ass-col-7.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-7.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-7.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-7.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-7.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-7.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-7.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-7.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-7.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-7.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-7.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-7.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-8 {
    width: 64.66%;
    padding: 0% 1%;
  }
  .xlg-ass-col-8.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-8.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-8.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-8.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-8.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-8.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-8.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-8.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-8.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-8.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-8.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-8.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-9 {
    width: 73%;
    padding: 0% 1%;
  }
  .xlg-ass-col-9.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-9.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-9.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-9.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-9.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-9.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-9.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-9.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-9.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-9.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-9.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-9.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-10 {
    width: 81.33%;
    padding: 0% 1%;
  }
  .xlg-ass-col-10.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-10.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-10.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-10.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-10.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-10.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-10.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-10.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-10.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-10.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-10.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-10.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-11 {
    width: 89.66%;
    padding: 0% 1%;
  }
  .xlg-ass-col-11.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-11.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-11.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-11.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-11.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-11.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-11.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-11.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-11.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-11.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-11.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-11.xlg-ass-pos-12 {
    order: 12;
  }

  .xlg-ass-col-12 {
    width: 98%;
    padding: 0% 1%;
  }
  .xlg-ass-col-12.xlg-ass-pos-1 {
    order: 1;
  }
  .xlg-ass-col-12.xlg-ass-pos-2 {
    order: 2;
  }
  .xlg-ass-col-12.xlg-ass-pos-3 {
    order: 3;
  }
  .xlg-ass-col-12.xlg-ass-pos-4 {
    order: 4;
  }
  .xlg-ass-col-12.xlg-ass-pos-5 {
    order: 5;
  }
  .xlg-ass-col-12.xlg-ass-pos-6 {
    order: 6;
  }
  .xlg-ass-col-12.xlg-ass-pos-7 {
    order: 7;
  }
  .xlg-ass-col-12.xlg-ass-pos-8 {
    order: 8;
  }
  .xlg-ass-col-12.xlg-ass-pos-9 {
    order: 9;
  }
  .xlg-ass-col-12.xlg-ass-pos-10 {
    order: 10;
  }
  .xlg-ass-col-12.xlg-ass-pos-11 {
    order: 11;
  }
  .xlg-ass-col-12.xlg-ass-pos-12 {
    order: 12;
  }
}
body {
  font-size: 16px;
  line-height: 1.428;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

p {
  display: block;
  margin-bottom: 10px;
}
p small, p .small {
  font-size: .75em;
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  display: block;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Oswald", sans-serif;
  display: inline;
}

h1, .h1 {
  font-size: 2.250em;
}
h1 small, h1 .small, .h1 small, .h1 .small {
  font-size: .75em;
  color: gray;
}

h2, .h2 {
  font-size: 1.875em;
}
h2 small, h2 .small, .h2 small, .h2 .small {
  font-size: .75em;
  color: gray;
}

h3, .h3 {
  font-size: 1.5em;
}
h3 small, h3 .small, .h3 small, .h3 .small {
  font-size: .75em;
  color: gray;
}

h4, .h4 {
  font-size: 1.125em;
}
h4 small, h4 .small, .h4 small, .h4 .small {
  font-size: .75em;
  color: gray;
}

h5, .h5 {
  font-size: .875em;
}
h5 small, h5 .small, .h5 small, .h5 .small {
  font-size: .75em;
  color: gray;
}

h6, .h6 {
  font-size: .750em;
}
h6 small, h6 .small, .h6 small, .h6 .small {
  font-size: .75em;
  color: gray;
}

.lead {
  font-size: 1.5em;
}

mark {
  background-color: #ffffcc;
}

del, s {
  text-decoration: line-through;
}

ins, u {
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

abbr {
  border-bottom: 1px dotted #333333;
  cursor: help;
}
abbr.initialism {
  font-size: .9em;
}

address {
  margin-bottom: 20px;
}

blockquote {
  border-left: 4px solid #cccccc;
  margin: 10px;
  padding: 5px 2px 5px 10px;
}
blockquote p {
  margin: 0;
}
blockquote footer {
  color: #999999;
  font-size: .9em;
}
blockquote footer:before {
  content: "--";
}
blockquote.blockquote-reverse {
  border-left: none;
  border-right: 4px solid #cccccc;
  text-align: right;
  padding: 5px 10px 5px 2px;
}

cite {
  font-style: italic;
}

ul {
  list-style-position: outside;
  margin-left: 20px;
}
ul li {
  margin-left: 10px;
  list-style-type: disc;
}
ul li ul li {
  list-style-type: circle;
}
ul.list-unstyled {
  list-style-position: inside;
  margin: 0;
}
ul.list-unstyled > li {
  list-style-type: none;
  margin: 0;
}
ul.list-inline {
  list-style-position: inside;
  margin: 0;
}
ul.list-inline > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ol {
  list-style-position: outside;
  margin-left: 20px;
}
ol li {
  margin-left: 10px;
  list-style-type: decimal;
}
ol.list-unstyled {
  list-style-position: inside;
  margin: 0;
}
ol.list-unstyled > li {
  list-style-type: none;
  margin: 0;
}
ol.list-inline {
  list-style-position: inside;
  margin: 0;
}
ol.list-inline > li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

dl {
  border: 3px double #ccc;
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
}

dt::after {
  content: ":";
}

dd {
  margin: 0 0 0 160px;
  padding: 0 0 0.5em 0;
}

hr {
  clear: both;
  margin: 10px auto;
}

code {
  color: #990000;
  background: #ffe6e6;
  font-family: monospace;
  font-size: .9em;
  padding: 0 2px 0 2px;
}

pre {
  font-size: .9em;
  font-family: monospace;
}
pre.pre-scrollable {
  max-height: 350px;
  overflow-y: scroll;
}

kbd {
  font-size: .85em;
  font-family: monospace;
  background: #333333;
  color: #fff;
  padding: 2px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

var {
  font-style: italic;
}

samp {
  font-size: .85em;
  font-family: monospace;
}
