/**
 * Typography Variables
 */
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$monospace: monospace;
$main-font-color: #333333;
$mark-color: #ffffcc;

$default-border-radius: 5px;


/**
 * Helper variables
 */
$muted: "";
$primary: "";
$success: "";
$info: "";
$warning: "";
$danger: #990000;


/**
 * Layout variables
 */
